<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="vendor/autoload.php" >
    <testsuites>
        <testsuite name="unit-tests">
            <directory suffix=".php">tests/Unit</directory>
            <exclude>tests/bootstrap.php</exclude>
        </testsuite>
        <testsuite name="integration-tests">
            <directory suffix=".php">tests/integration</directory>
            <exclude>tests/bootstrap.php</exclude>
        </testsuite>
    </testsuites>
</phpunit>
